*{
	margin:0px;
	padding:0px;
}

#page_home{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url(../resource/images/background.jpg);
	background-position:center; 
	background-repeat:no-repeat; 
	background-size: 100% 60%;	
}

#page_home_top{
	position:relative;
	width:100%;
	height:20%;
}

#page_home_top h1{
	font-family:Papyrus;
	text-align:center;
	padding-top:5%;
}


#page_home_space{
	position:relative;
	width:100%;
	height:60%;
}

#page_home_bottom{
	position:relative;
	width:100%;
	height:20%;
}

#page_home_bottom h1{
	font-family:Papyrus;
	text-align:center;
	padding-top:10%;
}

#page_1{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url(../resource/images/1.jpg);
	background-position:center; 
	background-repeat:no-repeat; 
	background-size: 100% 100%;	
	display:none;
}

#search{
	position:relative;
	top:10%;
	left:10%;
	width:150px;
	height:150px;
	background-image:url(../resource/images/button_bk.jpg);
	background-position:center; 
	background-repeat:no-repeat; 
	background-size: 100% 100%;	
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	box-shadow: 8px 8px 8px grey;
}

.buttonText{
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
	line-height:150px;
	text-align:center;
	font-size:30px;
	text-shadow: 3px 3px 3px grey;
}

#achieve{
	position:relative;
	top:12%;
	left:25%;
	width:150px;
	height:150px;
	background-image:url(../resource/images/button_bk.jpg);
	background-position:center; 
	background-repeat:no-repeat; 
	background-size: 100% 100%;	
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	box-shadow: 8px 8px 8px grey;
}

#publish{
	position:relative;
	top:14%;
	left:10%;
	width:150px;
	height:150px;
	background-image:url(../resource/images/button_bk.jpg);
	background-position:center; 
	background-repeat:no-repeat; 
	background-size: 100% 100%;	
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	box-shadow: 8px 8px 8px grey;
}